.header{
  display: flex;
  justify-content: center;
  .logo{
    border:2px solid #fff;
    border-radius:1px;
    text-decoration:none;
    display:inline-block;
    margin:20px;
    color: white;
    padding:5px 10px;
    font-weight:600;
    font-size:1.2em;
    box-sizing:border-box
  }
}