$green-dark:  #0590c5;
$green-light: #00d6b7;
$gray:        #8f8f8f;
.login-form {
  width: 350px;
  padding: 2em;
  position: relative;
  background: rgba(black, .15);
  &:before {
    content: '';
    position: absolute;
    top: -2px; left: 0;
    height: 2px; width: 100%;
    background: linear-gradient(
      to right,
      $green-dark,
      $green-light
    );    
  }
  .flex-row {
    display: flex;
    margin-bottom: 1em;
    .login-input {
      flex: 1;
      padding: 1.2rem;
      border: 0;
      color: $gray;
      font-size: 1rem;
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;
      &:focus {
        outline: none;
        transition: transform 0.3s ease-out;
        transform: scale(1.05);
      }
    }
  }
  .login-btn {
    display: block;
    padding: 1em;
    width: 100%;
    background: linear-gradient(
      to right,
      $green-dark,
      $green-light
    );
    border: 0;
    color: #fff;
    cursor: pointer;
    font-size: .75em;
    font-weight: 600;
    text-shadow: 0 1px 0 rgba(black, .2);
    &:focus {
      outline: none;
      transition: transform 0.3s ease-out;
      transform: scale(1.05);
    }
  }
}